<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">

<!--- Header --->
<link rel="stylesheet" href="../header/css/header.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>

<div class="columncontrol">
    <header>
        <div class="top_header">
            
            <div class="hamburger_menu">
                <a href="javascript:;"></a>
            </div>
            
            <div class="logo">
                <a href="#"><img src="../header/images/logo.png" alt="Bajaj Electricals" /></a>
            </div>
            
            <div class="search_container">
                <input id="searchInput" type="search" placeholder="Search" />
                <a href="javascript:;"><img src="../header/images/search.png" alt="Search" /></a>
            </div>
            
            <a href="#"><img src="../header/images/headphone.png" alt="Support" /></a>
            <a href="#"><img src="../header/images/user.png" alt="Login" /></a>
            <a href="#"><img src="../header/images/cart.png" alt="Cart" /></a>
            
        </div>
        <div class="main_navigation">
            <div class="top_header m_header">
                <div class="m_logo">
                    <a href="#"><img src="../header/images/logo.png" alt="Bajaj Electricals" /></a>
                </div>
                <div class="m_close">
                    <a href="javascript:;"><img src="../header/images/close.png" /></a>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li class="dropdown"><a href="">Home Comfort</a>
                        <ul class="dropdown_menu">
                            <li class=""><a tabindex="-1" href="#">Room Heater</a></li>
                            <li class=""><a href="#">Room Cooler</a></li>
                            <li class="dropdown_submenu"><a href="#">Irons</a>
                                <ul class="dropdown_menu">
                                    <li><a tabindex="-1" href="#">Dry Iron</a></li>
                                    <li><a href="#">Steam Iron</a></li>
                                </ul>
                            </li>
                            <li class="dropdown_submenu"><a href="#">Water Heaters</a>
                                <ul class="dropdown_menu">
                                    <li><a tabindex="-1" href="#">Storage Water Heater</a></li>
                                    <li><a href="#">Instant Water Heater</a></li>
                                    <li><a href="#">Gas Water Heater</a></li>
                                </ul>
                            </li>
                            <li><a href="#" target="_blank">Home Comfort Appliances Catalogue</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Home Essentials</a>
                        <ul class="dropdown_menu">
                            <li class="dropdown_submenu"><a href="#">Fans</a>
                                <ul class="dropdown_menu">
                                    <li><a href="#">Wall Fan</a></li>
                                    <li><a href="#">Ceiling Fan</a></li>
                                    <li><a href="#">Exhaust Fan</a></li>
                                    <li><a href="#">Pedestal Fan</a></li>
                                    <li><a href="#">Table Fan</a></li>
                                    <li><a href="#" target="_blank">Fan Catalogue</a></li>
                                </ul>
                            </li>
                            <li class="dropdown_submenu"><a href="#">Lighting</a>
                                <ul class="dropdown_menu">
                                    <li><a href="#">LED Lights</a></li>
                                    <li><a href="#">Portable LED Lights</a></li>
                                    <li><a href="#" target="_blank">Light Catalogue</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Food Preparation</a>
                        <ul class="dropdown_menu">
                            <li><a href="#">Mixer Grinder</a></li>
                            <li><a href="#">Hand Blenders</a></li>
                            <li><a href="#">Food Processors</a></li>
                            <li><a href="#">Juicer Mixer Grinder</a></li>
                            <li><a href="#">Chopper</a></li>
                            <li><a href="#">Wet Grinders</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Breakfast & Snacks</a>
                        <ul class="dropdown_menu">
                            <li><a href="#">Coffee Makers</a></li>
                            <li><a tabindex="-1" href="#">Juicer</a></li>
                            <li><a tabindex="-1" href="#">Electric Kettles</a></li>
                            <li><a tabindex="-1" href="#">Electric Tea Maker</a></li>
                            <li><a tabindex="-1" href="#">Pop up Toasters</a></li>
                            <li><a href="#">Sandwich And Snack Maker</a></li>
                            <li><a href="#">Air Fryer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Cooking Essentials</a>
                        <ul class="dropdown_menu">
                            <li><a href="#">Hobs &amp; Chimneys</a></li>
                            <li><a href="#">Electric Cookers (Multifunction cooker)</a></li>
                            <li><a href="#">Gas Stoves</a></li>
                            <li><a href="#">Induction Cooker</a></li>
                            <li><a href="#">Microwave Oven</a></li>
                            <li><a href="#">Oven Toaster Grillers</a></li>
                            <li><a href="#">Pressure Cookers</a></li>
                            <li><a href="#">Cookware</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../header/js/header.js"></script>

</body>

</html>
