<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">
<link rel="stylesheet" href="../../global/css/owl.carousel.min.css">

<!-- Category Slider -->
<link rel="stylesheet" href="../category-slider/css/category-slider.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    
<div class="columncontrol">
    
    <div class="container">
            
        <section class="category_slider_container">

            <h1 class="title">Top <span>Sellers</span></h1>
            <a class="view_all_btn" href="#">View All</a>
            
            <div class="category_slider owl-carousel">
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="products_card_slider">
                        <div class="product_img_slider">
                            <a href="#"><img src="../category-slider/images/product01.jpg" alt="" title="" /></a>
                        </div>
                        <div class="product_details_slider">
                            <div class="product_name_slider">
                                <a href="#">Bajaj 1701 MT (17 Litre) Microwave Oven</a>
                            </div>
                            <p><img src="../category-section/images/rupee.png" /> 6,209.00 <span><img src="../category-section/images/rupee.png" /> 6,209.00</span></p>
                            <div class="rating_slider">
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/star.png" alt="" title="" />
                                <img src="../category-section/images/inactive-star.png" alt="" title="" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </section>   
            
    </div>
    
</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="../../global/js/owl.carousel.min.js"></script>
<script type="text/javascript">    
    $('.category_slider').owlCarousel({
        loop:false,
        nav:true,
        navText : ['',''],
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:3
            }
        }
    })
</script>

</body>

</html>
