<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">
    
<!--- Top Stories --->
<link rel="stylesheet" href="../top-stories/css/top-stories.css">

    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    
<div class="columncontrol">
    
    <section class="top_stories hiddenMobile">
        
        <div class="container">
            
            <h1 class="title">Top Stories : <span>Product Directory</span></h1>
            
            <div class="clear margin_bottom">
                    
                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Most Searched For On Bajaj</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                            <li><a href="#">Bajaj Majesty 1603 T (16 Litre) Oven Toaster Griller (OTG)</a></li>
                            <li><a href="#">Bajaj Shakti PC Deluxe 25 L Vertical Storage Water</a></li>
                        </ul>
                    </div>
                </div>

                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Breakfast & Snacks</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                        </ul>
                    </div>
                </div>

                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Food Preparation Appliances</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            
            <div class="clear">
                    
                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Most Searched For On Bajaj</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                            <li><a href="#">Bajaj Majesty 1603 T (16 Litre) Oven Toaster Griller (OTG)</a></li>
                            <li><a href="#">Bajaj Shakti PC Deluxe 25 L Vertical Storage Water</a></li>
                        </ul>
                    </div>
                </div>

                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Breakfast & Snacks</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                        </ul>
                    </div>
                </div>

                <div class="width33">
                    <div class="top_stories_listing">
                        <h3>Food Preparation Appliances</h3>
                        <ul>
                            <li><a href="#">Bajaj IOT Cooler</a></li>
                            <li><a href="#">Bajaj Trio Mixer Grinder</a></li>
                            <li><a href="#">Bajaj Majesty RH 11F Plus Room Heater</a></li>
                            <li><a href="#">Bajaj Shakti 110 Water Heater</a></li>
                            <li><a href="#">Bajaj Majesty MX 20 Steam Iron</a></li>
                            <li><a href="#">Bajaj Majesty ATX 9 Auto Pop Up Toaster</a></li>
                            <li><a href="#">Bajaj HB12 Hand Blender</a></li>
                            <li><a href="#">Bajaj ICX Touch Pro Induction Cooker</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </section>
    
</div>

</body>

</html>
