<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">

<!-- Our Blog -->
<link rel="stylesheet" href="../our-blog/css/our-blog.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>

<div class="columncontrol" style="border: 1px solid hotpink;">
    
    <section class="our_blog">
        
        <div class="container_padding">
            
            <h1 class="title">Also from <span>our Blog</span></h1>
        
            <div class="display_flex clear">
                <div class="our_blog_img width50 tabwidth100">
                    <img src="../our-blog/images/blog01.jpg" alt="" title="" />
                </div>
                <div class="blog_content width50 tabwidth100">
                    <div>
                        <h6>8 final tips for your marathon</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            
            <div class="display_flex clear">
                <div class="our_blog_img width50 tabwidth100 rightSection">
                    <img src="../our-blog/images/blog02.jpg" alt="" title="" />
                </div>
                <div class="blog_content width50 tabwidth100">
                    <div>
                        <h6>8 final tips for your marathon</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>
    
</div>
    
<script type="text/javascript" src="global/js/jquery-2.1.4.min.js"></script>

<!-- Header -->
<script type="text/javascript" src="components/header/js/header.js"></script>

<script type="text/javascript" src="global/js/owl.carousel.min.js"></script>
<script type="text/javascript">
    $('#sliderHome').owlCarousel({
        loop:true,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
    
    $('#iconsSection').owlCarousel({
        loop:true,
        nav:false,
        responsive:{
            0:{
                items:4
            },
            600:{
                items:6
            },
            1000:{
                items:8
            }
        }
    })
    
    $('.category_slider').owlCarousel({
        loop:true,
        nav:true,
        navText : ['',''],
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:3
            }
        }
    })
</script>

</body>

</html>
