<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">
    
<!-- Offers -->
<link rel="stylesheet" href="components/offers-section/css/offers.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    
<div class="columncontrol">
    
    <section class="offer_section">
        <div class="container clear">
            <div class="width50">
                <a href="#"><img src="../offers-section/images/01.jpg" alt="" title="" /></a>
            </div>
            <div class="width50">
                <a href="#"><img src="../offers-section/images/02.jpg" alt="" title="" /></a>
            </div>
        </div>
    </section>
    
</div>

</body>

</html>
