<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">

<!--- Header --->
<link rel="stylesheet" href="../why-buy/css/why-buy.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>

<div class="columncontrol">
    <section class="container">
    <h1 class="title">WHY <span>BUY FROM US?</span></h1>
        <div class="why-buy clear">
        	<div class="width25 buyitme">
        		<img src="../why-buy/images/image1.png">
        		<h4>TRUSTED SERVICE</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        	</div>
        	<div class="width25 buyitme">
        		<img src="../why-buy/images/image2.png">
        		<h4>CASH ON DELIVERY</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        	</div>
        	<div class="width25 buyitme">
        		<img src="../why-buy/images/image3.png">
        		<h4>EASY RETURNS</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        	</div>
        	<div class="width25 buyitme">
        		<img src="../why-buy/images/image4.png">
        		<h4>SAFE & SECURE</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        	</div>
        </div>
    </section>

</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../why-buy/js/why-buy.js"></script>

</body>

</html>
