<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">

<!--- Silder --->
<link rel="stylesheet" href="../slider/css/slider.css">
<link rel="stylesheet" href="../../global/css/owl.carousel.min.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>

<div class="columncontrol">
    <section class="slider_home owl-carousel" id="sliderHome">        
        <div class="item"><img src="../slider/images/slider.jpg" alt="" title="" /></div>
        <div class="item"><img src="../slider/images/slider.jpg" alt="" title="" /></div>
        <div class="item"><img src="../slider/images/slider.jpg" alt="" title="" /></div>
        <div class="item"><img src="../slider/images/slider.jpg" alt="" title="" /></div>
        <div class="item"><img src="../slider/images/slider.jpg" alt="" title="" /></div>
    </section>
</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>

<!-- Slider -->
<script type="text/javascript" src="../../global/js/owl.carousel.min.js"></script>
<script type="text/javascript">
    $('#sliderHome').owlCarousel({
        loop:false,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
</script>

</body>

</html>
