<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">

<!--- Header --->
<link rel="stylesheet" href="../footer/css/footer.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>

<div class="columncontrol">
    <footer>
        <div class="footer-section">
            <div class="clear marginbottom">
                <div class="width20">
                    <h3>Home Comfort<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Room Heater</a></li>
                        <li><a href="javascript:;">Room Cooler</a></li>
                        <li><a href="javascript:;">Irons</a>
                            <ul class="sublink">
                                <li><a href="javascript:;">Dry Iron</a></li>
                                <li><a href="javascript:;">Steam Iron</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Water Heater</a>
                            <ul class="sublink">
                                <li><a href="javascript:;">Storage Water Heater</a></li>
                                <li><a href="javascript:;">Instant Water Heater</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Home Comfort</a></li>
                        <li><a href="javascript:;">Appliances Catalogue</a></li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Home Essentials<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Fans</a>
                            <ul class="sublink">
                                <li><a href="javascript:;">Wall Fan</a></li>
                                <li><a href="javascript:;">Ceiling Fan</a></li>
                                <li><a href="javascript:;">Exhaust Fan</a></li>
                                <li><a href="javascript:;">Pedestal Fan</a></li>
                                <li><a href="javascript:;">table Fan</a></li>
                                <li><a href="javascript:;">Fan Catalogue</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Lighting</a>
                            <ul class="sublink">
                                <li><a href="javascript:;">LED Light</a></li>
                                <li><a href="javascript:;">Portable LED Lights</a></li>
                                <li><a href="javascript:;">Light Catalogue</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Food Preparation<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Mixer Grinder</a></li>
                        <li><a href="javascript:;">Hand Blenders</a></li>
                        <li><a href="javascript:;">Food Processors</a></li>
                        <li><a href="javascript:;">Juicer Mixer Grinder</a></li>
                        <li><a href="javascript:;">Chopper</a></li>
                        <li><a href="javascript:;">Wet Grinders</a></li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Breakfast & Snacks<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Coffee Maker</a></li>
                        <li><a href="javascript:;">Juicer</a></li>
                        <li><a href="javascript:;">Electric Kettles</a></li>
                        <li><a href="javascript:;">Electric Tea Maker</a></li>
                        <li><a href="javascript:;">Pop Up Toasters</a></li>
                        <li><a href="javascript:;">Sandwich and Snack Maker</a></li>
                        <li><a href="javascript:;">Air Fryer</a></li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Cooking Essentials<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Hobs & Chimneys</a></li>
                        <li><a href="javascript:;">Electric Multifunction Cookers</a></li>
                        <li><a href="javascript:;">Gas Stoves</a></li>
                        <li><a href="javascript:;">Induction Cooker</a></li>
                        <li><a href="javascript:;">Microwave Oven</a></li>
                        <li><a href="javascript:;">Over Toaster Grillers</a></li>
                        <li><a href="javascript:;">Pressure Cookers</a></li>
                        <li><a href="javascript:;">Cookware</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear marginbottom">
                <div class="width20">
                    <h3>Platini<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Stand Mixer</a></li>
                        <li><a href="javascript:;">Slow Juicer</a></li>
                        <li><a href="javascript:;">Bread Maker</a></li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Here To Help<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Contact Us</a></li>
                        <li><a href="javascript:;">site Feedback</a></li>
                        <li><a href="javascript:;">Site Map</a></li>
                        <li><a href="javascript:;">Service Center</a></li>
                        <li><a href="javascript:;">Customer Care</a></li>
                    </ul>
                </div>
                <div class="width20">
                    <h3>Order Support<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Bulk Order Enquiry</a></li>
                        <li><a href="javascript:;">My Account</a></li>
                        <li><a href="javascript:;">Register Your Product</a></li> 
                    </ul>
                </div>
                <div class="width20">
                    <h3>Policy<i class="arrowup"></i></h3>
                    <ul>
                        <li><a href="javascript:;">Shopping Policy</a></li>
                        <li><a href="javascript:;">Privacy Policy</a></li>

                    </ul>
                </div>
                <div class="width20">
                    <h4>Blog</h4>
                    <h4>Gift Shop</h4>
                    <h4>Spares</h4> 
                </div>
            </div>

            <div class="line"><hr></div>

            <div class="clear">
                <div class="width40">
                    <h3>Subscribe to our newsletter</h3>
                    <div class="newsletter">
                        <input type="search" placeholder="Search" />
                        <a href="#"><img src="../footer/images/newsletter-icon.png" alt="Search" /></a>
                    </div>
                </div>
                <div class="width60">
                    <div class="social-payment">
                        <div class="payment">
                            <a href="javascript:;"><img src="../footer/images/american-express.png" alt="American Express" title="American Express"></a>
                            <a href="javascript:;"><img src="../footer/images/visa.png" alt="Visa" title="Visa"></a>
                            <a href="javascript:;"><img src="../footer/images/master-card.png" alt="Master Card" title="Master Card"></a>
                        </div>
                        <div class="social">
                            <a href="javascript:;"><img src="../footer/images/facebook.png" alt="Facebook" title="Facebook"></a>
                            <a href="javascript:;"><img src="../footer/images/twitter.png" alt="Twitter" title="Twitter"></a>
                            <a href="javascript:;"><img src="../footer/images/instagram.png" alt="Instagram" title="Instagram"></a>
                            <a href="javascript:;"><img src="../footer/images/linkedin.png" alt="Linkedin" title="Linkedin"></a>
                            <a href="javascript:;"><img src="../footer/images/pinterest.png" alt="Pinterest" title="Pinterest"></a>
                            <a href="javascript:;"><img src="../footer/images/youtube.png" alt="Youtube" title="Youtube"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <div class="copyright">
        <p>Copyright Bajaj Electricals Ltd 2018.</p>
    </div>

</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../footer/js/footer.js"></script>

</body>

</html>
