.slider_home > .owl-nav{
    display: none;
}

.slider_home .owl-dots, .slider_home .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding: 50px 0;
}

.slider_home .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}

.slider_home .owl-dots .owl-dot span {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border: 1px solid #c9c9c9;
    -webkit-backface-visibility: visible;
    border-radius: 40px;
}

.slider_home .owl-dots .owl-dot.active span, .slider_home > .owl-dots .owl-dot:hover span {
    border: 1px solid transparent;
    background: #0984e3;
}

/***********************************************/

@media only screen and (min-device-width: 1536px) and (max-device-width: 2560px) {
    
    .slider_home .owl-dots, .slider_home .owl-nav {
        padding: 70px 0;
    }
    
    .slider_home .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        margin: 0 15px;
    }
    
}

@media only screen and (max-width:767px) {
    
    .slider_home .owl-dots, .slider_home .owl-nav {
        padding: 20px 0;
    }
    
    .slider_home .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 0 8px;
    }
    
}



















