<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Fans, Kitchen & Home Appliances Online @ Bajaj Electricals</title>
<meta name="Description" content="" />
<link rel="shortcut icon" href="../../global/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../global/css/style.css">
<link rel="stylesheet" href="../../global/fonts/fonts.css">
    
<!-- Icons -->
<link rel="stylesheet" href="../icons-section/css/icons.css">
<link rel="stylesheet" href="../../global/css/owl.carousel.min.css">
    
<!--[if lt IE 9]>
    <script src="global/js/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    
<div class="columncontrol">
    <section class="icons_section owl-carousel" id="iconsSection">
        <div class="item">
            <a href=""><img src="../icons-section/images/offers.png" alt="" title="" /><p>Offers</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/fan.png" alt="" title="" /><p>Fans</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/cookers.png" alt="" title="" /><p>Cookers</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/irons.png" alt="" title="" /><p>Irons</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/juicers.png" alt="" title="" /><p>Juicer</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/microwave.png" alt="" title="" /><p>Microwave</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/water-heater.png" alt="" title="" /><p>Water Heater</p></a>
        </div>
        
        <div class="item">
            <a href=""><img src="../icons-section/images/led-lamps.png" alt="" title="" /><p>LED Lamps</p></a>
        </div>        
    </section>
</div>
    
<script type="text/javascript" src="../../global/js/jquery-2.1.4.min.js"></script>

<!-- Icons -->
<script type="text/javascript" src="../../global/js/owl.carousel.min.js"></script>
<script type="text/javascript">    
    $('#iconsSection').owlCarousel({
        loop:false,
        nav:false,
        responsive:{
            0:{
                items:4
            },
            600:{
                items:6
            },
            1000:{
                items:8
            }
        }
    })
</script>

</body>

</html>
